@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 10px;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto;
      grid-template-areas: "header" "main" "work" "clients" "gallery" "footer";
}

h1 {
  font-size: clamp(2.4rem, 2.5vw, 3rem);
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
}

h2 {
  font-size: clamp(1.9rem, 2.5vw, 3rem);
  font-family: "Fraunces", serif;
  color: #a7abae;
  margin: 1.8em 0 1.8em;
  letter-spacing: 1.4px;
  font-weight: 400;
}

p {
  font-size: clamp(1.3rem, 1.5vw, 2.2rem);
  line-height: 1.6;
}

h4 {
  font-size: clamp(1.3rem, 1.5vw, 2rem);
  margin-bottom: 0.6em;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

a {
  text-decoration: none;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-image: url("../images/mobile/image-header.jpg");
  background-size: cover;
  min-height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation {
  margin: 30px 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto 80px;
      grid-template-columns: auto auto 80px;
      grid-template-areas: "logo . hamburger";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

.navigation__hamburger {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: hamburger;
  justify-self: flex-end;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

.hero__title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: white;
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-bottom: 80px;
}

.hero svg {
  cursor: pointer;
}

.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

.info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "info-box" "info-box-second";
}

.info-box {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: info-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
}

.info-box__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-box__btn {
  text-align: center;
  font-size: clamp(1.3rem, 1.6vw, 2.2rem);
  position: relative;
}

.info-box__btn-link {
  text-decoration: none;
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
}

.info-box-second {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info-box-second;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 500px;
      grid-template-rows: 500px;
  margin: 2rem 0;
}

.info-box-second__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-box-second__btn {
  text-align: center;
  font-size: clamp(1.3rem, 1.6vw, 2.2rem);
  position: relative;
}

.info-box-second__btn-link {
  text-decoration: none;
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
}

.info-box__btn--background::before {
  position: absolute;
  content: "";
  top: 80%;
  left: 50%;
  height: 0.5rem;
  width: 8rem;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #fad400;
}

.info-box__btn--background-second::before {
  position: absolute;
  content: "";
  top: 80%;
  left: 50%;
  height: 0.5rem;
  width: 8rem;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #fe7867;
}

.info-text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 4rem;
}

.info-text__description {
  margin: 2rem 0;
  line-height: 1.6;
}

.info-text__description--color-grey {
  color: #818498;
}

.info-box-second {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: info-box-second;
}

.clients {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: clients;
  text-align: center;
}

.clients-opinions {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "first" "second" "third";
}

.clients-opinions__img {
  width: 100px;
  border-radius: 50%;
}

.clients-opinions__description {
  width: 90%;
  margin: 0 auto;
  margin: 2em auto;
  line-height: 1.6;
  color: #23303e;
  font-weight: 700;
  font-family: "Barlow", sans-serif;
  font-size: clamp(1.1rem, 1.5vw, 2rem);
}

.clients-opinions__job {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: #a7abae;
}

.clients-opinions__first {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: first;
}

.clients-opinions__second {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: second;
}

.clients-opinions__third {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: third;
}

.clients-opinions__first,
.clients-opinions__second,
.clients-opinions__third {
  margin-bottom: 6em;
}

.work {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: work;
}

.offer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: 700px 700px;
      grid-template-rows: 700px 700px;
}

.offer__cherry {
  background: url("../images/mobile/image-graphic-design.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.offer__cherry__text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.offer__cherry__title {
  color: #25564b;
}

.offer__cherry__description {
  margin-top: 1em;
  color: #25564b;
  line-height: 1.6;
  font-family: "Barlow", sans-serif;
}

.offer__orange {
  background: url("../images/mobile/image-photography.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.offer__orange__text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.offer__orange__title {
  color: #19536b;
}

.offer__orange__description {
  margin-top: 1em;
  color: #19536b;
  line-height: 1.6;
  font-family: "Barlow", sans-serif;
}

.gallery {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: gallery;
}

.gallery-picture {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
}

.gallery-picture img {
  width: 100%;
}

.footer {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #458c7e;
  text-align: center;
}

.footer-nav {
  margin: 5em 0;
}

.footer-nav svg path {
  fill: #25564b;
}

.footer-nav__menu {
  margin: 3em 0;
}

.footer-nav__menu a {
  text-decoration: none;
  font-size: clamp(1.3rem, 1.5vw, 1.6rem);
  color: #25564b;
  font-family: "Barlow", sans-serif;
}

.footer-nav__menu a:nth-child(2) {
  margin: 0 2rem;
}

.footer-nav__social {
  margin-top: 3.5rem;
}

.footer-nav__social span {
  cursor: pointer;
  margin-left: 2rem;
}

.footer-nav__social span:nth-child(1) {
  margin-left: 0;
}
/*# sourceMappingURL=main.css.map */