$color-after-red: hsl(7, 99%, 70%);
$color-after-yellow: hsl(51, 100%, 49%);

$color-text-design: hsl(167, 40%, 24%);
$color-photography: hsl(198, 62%, 26%);
$color-footer: hsl(168, 34%, 41%);

$color-text-special: hsl(212, 27%, 19%);
$color-priamry: hsl(0, 0%, 100%);
$color-text: hsl(212, 27%, 19%);
$color-text-dark: hsl(232, 10%, 55%);
$color-text-light: hsl(210, 4%, 67%);

$line-height-text: 1.6;
