@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces&display=swap");
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  grid-template-areas: "header" "main" "work" "clients" "gallery" "footer";
}

h1 {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
}
@media (min-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}

h2 {
  font-size: clamp(1.9rem, 2.2vw, 2.6rem);
  font-family: "Fraunces", serif;
  color: #a7abae;
  margin: 1.8em 0 1.8em;
  letter-spacing: 1.4px;
  font-weight: 400;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

h4 {
  font-size: 1.1rem;
  margin-bottom: 0.6em;
  font-weight: 900;
  font-family: "Fraunces", serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  grid-area: header;
  background-image: url("../../images/mobile/image-header.jpg");
  background-size: cover;
  min-height: 90vh;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 1024px) {
  .header {
    background-image: url("../../images/desktop/image-header.jpg");
  }
}

.navigation {
  margin: 30px 30px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "logo . hamburger";
  align-items: center;
  position: relative;
}
@media (min-width: 1024px) {
  .navigation {
    grid-template-columns: auto 1fr 400px;
    margin: 30px 50px;
  }
}
.navigation__logo {
  grid-area: logo;
}
.navigation__menu ul {
  width: 80%;
  top: 60px;
  right: 0;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  background-color: #fad400;
  z-index: 1;
  text-align: center;
}
.navigation__menu ul li {
  margin: 2rem 0;
}
.navigation__menu ul li:last-child a {
  border-radius: 2rem;
  color: #242424;
  font-family: "Fraunces", serif;
  transition: all 0.2s ease;
  background-color: white;
  padding: 0.5rem 1rem;
}
@media (min-width: 1024px) {
  .navigation__menu ul li:last-child a {
    padding: 0.7em 1.2em;
  }
}
@media (min-width: 1024px) {
  .navigation__menu ul li {
    margin: 30px 0;
  }
}
@media (min-width: 1024px) {
  .navigation__menu ul li {
    margin: 0 1rem;
  }
}
.navigation__menu ul a {
  font-size: 1.6rem;
  color: white;
  font-family: "Barlow", sans-serif;
}
@media (min-width: 1024px) {
  .navigation__menu ul a {
    font-size: 1.2rem;
  }
}
@media (min-width: 1024px) {
  .navigation__menu ul {
    position: relative;
    top: 0;
    background-color: transparent;
    opacity: 1;
    display: flex;
  }
}
.navigation__hamburger {
  grid-area: hamburger;
  justify-self: flex-end;
}
@media (min-width: 1024px) {
  .navigation__hamburger {
    display: none;
  }
}

.is-hidden {
  display: none;
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.hero__title {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  color: white;
  font-family: "Fraunces", serif;
  font-weight: 900;
  margin-bottom: 80px;
}
.hero svg {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .hero {
    top: 40%;
  }
}

.main {
  grid-area: main;
}

.info {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "info-box" "info-box-second";
}
@media (min-width: 1024px) {
  .info {
    grid-template-columns: 1fr auto;
  }
}

.info-box {
  grid-area: info-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  justify-items: center;
}
@media (min-width: 1024px) {
  .info-box {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
  }
}
.info-box__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .info-box__img {
    order: 2;
  }
}
.info-box__btn {
  text-align: center;
  font-size: 1.3rem;
  position: relative;
}
@media (min-width: 1024px) {
  .info-box__btn {
    text-align: left;
  }
}
.info-box__btn-link {
  text-decoration: none;
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
}

.info-box-second {
  grid-area: info-box-second;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  margin: 2rem 0;
  justify-items: center;
}
@media (min-width: 1024px) {
  .info-box-second {
    grid-template-columns: 1fr 50%;
    grid-template-rows: auto;
    align-items: center;
    margin: 0;
  }
}
.info-box-second__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.info-box-second__btn {
  text-align: center;
  font-size: 1.3rem;
  position: relative;
}
@media (min-width: 1024px) {
  .info-box-second__btn {
    text-align: left;
    margin-top: 0.4rem;
  }
}
.info-box-second__btn-link {
  text-decoration: none;
  font-family: "Fraunces", serif;
  color: #23303e;
  font-weight: 900;
}

.info-box__btn--background::before {
  position: absolute;
  content: "";
  top: 80%;
  left: 50%;
  height: 0.5rem;
  width: 8rem;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #fad400;
}
@media (min-width: 1024px) {
  .info-box__btn--background::before {
    background-color: transparent;
  }
}

.info-box__btn--background-second::before {
  position: absolute;
  content: "";
  top: 80%;
  left: 50%;
  height: 0.5rem;
  width: 8rem;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: #fe7867;
}
@media (min-width: 1024px) {
  .info-box__btn--background-second::before {
    background-color: transparent;
  }
}

.info-text {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin: 3rem 0;
}
.info-text__description {
  margin: 1rem 0;
  line-height: 1.6;
}
@media (min-width: 768px) {
  .info-text__description {
    width: 70%;
    margin: 1rem auto;
  }
}
@media (min-width: 1024px) {
  .info-text__description {
    width: 100%;
    margin: 1rem 0;
  }
}
@media (min-width: 1024px) {
  .info-text {
    margin: 0;
    text-align: left;
    width: min(80%, 500px);
  }
}

.info-text__description--color-grey {
  color: #818498;
}

.info-box-second {
  grid-area: info-box-second;
}

.work {
  grid-area: work;
}

.offer {
  display: grid;
  grid-template-rows: 700px 700px;
}
@media (min-width: 1024px) {
  .offer {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 700px;
  }
}
.offer__cherry {
  background: url("../../images/mobile/image-graphic-design.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 1024px) {
  .offer__cherry {
    background: url("../../images/desktop/image-graphic-design.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.offer__cherry__text {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 100px 1fr;
  height: 100%;
  text-align: center;
}
@media (min-width: 768px) {
  .offer__cherry__text {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .offer__cherry__text {
    width: min(80%, 500px);
  }
}
.offer__cherry__title {
  color: #25564b;
  grid-row: 4/5;
  align-self: flex-end;
}
.offer__cherry__description {
  margin-top: 1em;
  color: #25564b;
  line-height: 1.6;
  font-family: "Barlow", sans-serif;
  grid-row: 5/6;
}
.offer__orange {
  background: url("../../images/mobile/image-photography.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media (min-width: 1024px) {
  .offer__orange {
    background: url("../../images/desktop/image-photography.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.offer__orange__text {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 100px 1fr;
  height: 100%;
  text-align: center;
}
@media (min-width: 1024px) {
  .offer__orange__text {
    width: min(80%, 500px);
  }
}
.offer__orange__title {
  color: #19536b;
  grid-row: 4/5;
  align-self: flex-end;
}
.offer__orange__description {
  margin-top: 1em;
  color: #19536b;
  line-height: 1.6;
  font-family: "Barlow", sans-serif;
  grid-row: 5/6;
}

.clients {
  grid-area: clients;
  text-align: center;
}
@media (min-width: 1024px) {
  .clients {
    margin: 2rem 0 5rem;
  }
}

.clients-opinions {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: "first" "second" "third";
  align-items: center;
}
@media (min-width: 1024px) {
  .clients-opinions {
    grid-template-columns: repeat(3, 400px);
    grid-template-areas: "first second third";
    margin-top: 8rem;
    justify-content: center;
  }
}
.clients-opinions__img {
  width: 100px;
  border-radius: 50%;
}
.clients-opinions__description {
  width: 90%;
  margin: 0 auto;
  margin: 2.5em auto;
  line-height: 1.6;
  color: #818498;
  font-weight: 700;
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .clients-opinions__description {
    width: 50%;
  }
}
@media (min-width: 1024px) {
  .clients-opinions__description {
    width: 75%;
  }
}
.clients-opinions__job {
  font-family: "Barlow", sans-serif;
  font-size: 1rem;
  color: #a7abae;
}

.clients-opinions__first {
  grid-area: first;
}

.clients-opinions__second {
  grid-area: second;
}

.clients-opinions__third {
  grid-area: third;
}

.clients-opinions__first,
.clients-opinions__second,
.clients-opinions__third {
  margin-bottom: 6em;
}

.gallery {
  grid-area: gallery;
}

.gallery-picture-mobile {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto auto;
}
.gallery-picture-mobile img {
  width: 100%;
}
@media (min-width: 1024px) {
  .gallery-picture-mobile {
    display: none;
  }
}

.gallery-picture-desktop {
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}
.gallery-picture-desktop img {
  width: 100%;
}
@media (min-width: 1024px) {
  .gallery-picture-desktop {
    display: grid;
  }
}

.footer {
  grid-area: footer;
  background-color: #458c7e;
  text-align: center;
}

.footer-nav {
  margin: 5em 0;
}
.footer-nav svg path {
  fill: #25564b;
}
.footer-nav__menu {
  margin: 3em 0;
}
.footer-nav__menu a {
  text-decoration: none;
  font-size: clamp(1.3rem, 1.5vw, 1.6rem);
  color: #25564b;
  font-family: "Barlow", sans-serif;
  transition: all 0.2s ease;
}
.footer-nav__menu a:hover {
  color: white;
}
.footer-nav__menu a:nth-child(2) {
  margin: 0 2rem;
}
.footer-nav__social {
  margin-top: 3.5rem;
}
.footer-nav__social span {
  cursor: pointer;
  margin-left: 2rem;
}
.footer-nav__social span path {
  transition: all 0.2s ease;
}
.footer-nav__social span svg:hover path {
  fill: white;
}
.footer-nav__social span:nth-child(1) {
  margin-left: 0;
}

/*# sourceMappingURL=main.css.map */
