@use "../abstracts" as *;

.header {
	grid-area: header;
	background-image: url("../../images/mobile/image-header.jpg");
	background-size: cover;
	min-height: 90vh;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	@include mq(large) {
		background-image: url("../../images/desktop/image-header.jpg");
	}
}

.navigation {
	margin: 30px 30px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-areas: "logo . hamburger";
	align-items: center;
	position: relative;
	@include mq(large) {
		grid-template-columns: auto 1fr 400px;
		margin: 30px 50px;
	}
	&__logo {
		grid-area: logo;
	}
	&__menu {
		ul {
			width: 80%;
			top: 60px;
			right: 0;
			position: absolute;
			justify-content: space-between;
			align-items: center;
			background-color: $color-after-yellow;
			z-index: 1;
			text-align: center;
			li {
				margin: 2rem 0;
				&:last-child a {
					border-radius: 2rem;
					color: rgb(36, 36, 36);
					font-family: $font-family-special;
					transition: all 0.2s ease;
					background-color: $color-priamry;
					padding: 0.5rem 1rem;
					// &:hover {
					// 	background-color: rgba(255, 255, 255, 0.5);
					// 	filter: alpha(opacity=50);
					// }
					@include mq(large) {
						padding: 0.7em 1.2em;
						// color: rgb(36, 36, 36);
					}
				}
				@include mq(large) {
					margin: 30px 0;
				}
				@include mq(large) {
					margin: 0 1rem;
				}
			}
			a {
				font-size: 1.6rem;
				color: $color-priamry;
				font-family: $font-family-text;
				@include mq(large) {
					font-size: 1.2rem;
				}
			}
			@include mq(large) {
				position: relative;
				top: 0;
				background-color: transparent;
				opacity: 1;
				display: flex;
			}
		}
	}
	&__hamburger {
		grid-area: hamburger;
		justify-self: flex-end;
		@include mq(large) {
			display: none;
		}
	}
}

.is-hidden {
	display: none;
}

.hero {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	&__title {
		letter-spacing: 0.2rem;
		text-transform: uppercase;
		color: $color-priamry;
		font-family: $font-family-special;
		font-weight: $font-weight-hard;
		margin-bottom: 80px;
	}
	svg {
		cursor: pointer;
	}
	@include mq(large) {
		top: 40%;
	}
}
