@use "../abstracts" as *;

.main {
	grid-area: main;
}

.info {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"info-box"
		"info-box-second";
	@include mq(large) {
		grid-template-columns: 1fr auto;
	}
}

.info-box {
	grid-area: info-box;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 500px;
	justify-items: center;
	@include mq(large) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		align-items: center;
	}
	&__img {
		@include img;
		@include mq(large) {
			order: 2;
		}
	}
	&__btn {
		@include btn;
		@include mq(large) {
			text-align: left;
		}
	}
	&__btn-link {
		text-decoration: none;
		font-family: $font-family-special;
		color: $color-text-special;
		font-weight: $font-weight-hard;
	}
}

.info-box-second {
	grid-area: info-box-second;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 500px;
	margin: 2rem 0;
	justify-items: center;
	@include mq(large) {
		grid-template-columns: 1fr 50%;
		grid-template-rows: auto;
		align-items: center;
		margin: 0;
	}
	&__img {
		@include img;
	}
	&__btn {
		@include btn;
		@include mq(large) {
			text-align: left;
			margin-top: 0.4rem;
		}
	}
	&__btn-link {
		text-decoration: none;
		font-family: $font-family-special;
		color: $color-text-special;
		font-weight: $font-weight-hard;
	}
}

.info-box__btn--background::before {
	@include background-after;
	background-color: $color-after-yellow;
	@include mq(large) {
		background-color: transparent;
	}
}

.info-box__btn--background-second::before {
	@include background-after;
	background-color: $color-after-red;
	@include mq(large) {
		background-color: transparent;
	}
}

.info-text {
	@include text;
	text-align: center;
	margin: 3rem 0;
	&__description {
		margin: 1rem 0;
		line-height: $line-height-text;
		@include mq(medium) {
			width: 70%;
			margin: 1rem auto;
		}
		@include mq(large) {
			width: 100%;
			margin: 1rem 0;
		}
	}

	@include mq(large) {
		margin: 0;
		text-align: left;
		width: min(80%, 500px);
	}
}

.info-text__description--color-grey {
	color: $color-text-dark;
}

.info-box-second {
	grid-area: info-box-second;
}
