@use "../abstracts" as *;

.main {
	grid-area: main;
}

.info {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	grid-template-areas:
		"info-box"
		"info-box-second";
	@media (min-width: $desktop-size) {
		grid-template-columns: 1fr auto;
	}
}

.info-box {
	grid-area: info-box;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 500px;
	@media (min-width: $desktop-size) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		align-items: center;
	}
	&__img {
		@include img;
		@media (min-width: $desktop-size) {
			order: 2;
		}
	}
	&__btn {
		@include btn;
	}
	&__btn-link {
		text-decoration: none;
		font-family: $font-family-special;
		color: $color-text-special;
		font-weight: $font-weight-hard;
	}
}

.info-box-second {
	grid-area: info-box-second;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 500px;
	margin: 2rem 0;
	@media (min-width: $desktop-size) {
		grid-template-columns: 1fr 50%;
		grid-template-rows: auto;
		align-items: center;
		margin: 0;
	}
	&__img {
		@include img;
	}
	&__btn {
		@include btn;
	}
	&__btn-link {
		text-decoration: none;
		font-family: $font-family-special;
		color: $color-text-special;
		font-weight: $font-weight-hard;
	}
}

.info-box__btn--background::before {
	@include background-after;
	background-color: $color-after-yellow;
}

.info-box__btn--background-second::before {
	@include background-after;
	background-color: $color-after-red;
}

.info-text {
	@include text;
	text-align: center;
	margin-top: 4rem;
	&__description {
		margin: 2rem 0;
		line-height: $line-height-text;
	}
	@media (min-width: $desktop-size) {
		text-align: left;
	}
}

.info-text__description--color-grey {
	color: $color-text-dark;
}

.info-box-second {
	grid-area: info-box-second;
}
