@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces&display=swap");

$font-family-text: "Barlow", sans-serif;
$font-family-special: "Fraunces", serif;

$font-size-primary: 10px;

$font-weidht-normal: 400;
$font-weight-medium: 700;
$font-weight-hard: 900;

$font-width-normal: 500px;

$letter-spacing-ligth: 1.4px;
$line-height: 1.6;

$tablet-size: 768px;
$desktop-size: 1023px;
